/* Combobox Container */
.test {
    width: 288px;
}

.tag-input {
    grid-area: tags;
    flex: 1 1 100%;
    font-size: 12px;
}

/* Input */
.slds-combobox input {
    width: 100%;
    line-height: 19px;
}

/* Dropdown */
.slds-dropdown {
    position: relative;
}

.slds-listbox_vertical {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    overflow: hidden;
    overflow-y: auto;
    max-height: 400px;
    margin: 4px 0;
    z-index: 999;
    background: #fff;
}

.hidden {
    display: none;
}

.slds-listbox__option[aria-selected=true] {
    background: #f1f2f3;
}

.slds-dropdown .slds-listbox__option {
    padding: 4px;
}

/* Pills */

.slds-listbox.slds-listbox_horizontal {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 2px -2px;
}

.slds-listbox-item {
    list-style: none;
    margin: 2px;
}

.slds-pill {
    display: flex;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #fff;
}

.slds-pill:hover {
    background: #f1f2f3;
}

.slds-pill:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--color-primary--tint-alt)
}

.slds-pill__label {
    flex: 1 1 auto;
    margin-right: 4px;
}

.slds-pill__remove {
    width: 12px;
    height: 12px;
    content: "";
    right: 0;
    margin-left: auto;
    flex: 0 0 auto;
    position: relative;
    display: flex;
    cursor: pointer;
}

.slds-pill__remove:before {
    height: 2px;
    width: 12px;
    content: "";
    display: block;
    background: #666;
    transform: rotate(45deg);
    position: absolute;
    right: 0;
    top: 50%;
    border-radius: 1px;
}

.slds-pill__remove:after {
    height: 2px;
    width: 12px;
    content: "";
    display: block;
    background: #666;
    transform: rotate(-45deg);
    position: absolute;
    right: 0;
    top: 50%;
    border-radius: 1px;
}

.slds-pill:hover .slds-pill__remove:before,
.slds-pill:focus .slds-pill__remove:before {
    height: 2px;
    width: 12px;
    content: "";
    display: block;
    background: #333;
    transform: rotate(45deg);
    position: absolute;
    right: 0;
    top: 50%;
    border-radius: 1px;
}

.slds-pill:hover .slds-pill__remove:after,
.slds-pill:focus .slds-pill__remove:after {
    height: 2px;
    width: 12px;
    content: "";
    display: block;
    background: #333;
    transform: rotate(-45deg);
    position: absolute;
    right: 0;
    top: 50%;
    border-radius: 1px;
}