:root {
  /* Color */
  --color-primary: #005b4f;
  /* rgb(0,91,79); */
  --color-primary--dark: #003d33;
  /* rgb(0,61,51); */
  --color-primary--light: #00897b;
  /* rgb(0,133,124) */
  --color-primary--tint: rgba(0,133,124,0.1);
  --color-primary--tint-alt: rgba(0,133,124,0.25);
  --color-disabled: #e8e8e8;
  --color-shadow: rgba(0,0,0,0.25);

  /* Text */
  --color-text: #333333;
  --color-text--inverse: #ffffff;
  --color-text--weak: #757575;

  /* Background */
  --color-background: #ffffff;
  --color-background--alt: #cccccc;
  --color-background--note: #fffca8;

  /* Border */
  --color-border: #dddddd;

  /* Radius */
  --border-radius: 4px;
}

@font-face {
  font-family: 'Roboto';
  font-display: auto;
  src: local("Roboto") url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
} */

@font-face {
  font-family: 'Roboto';
  font-display: auto;
  src: local("Roboto") url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* @font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
} */

html {
  padding: 0;
  margin: 0;
}

/* Link */
a {
  color: var(--color-primary--light);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--color-primary--dark);
  text-decoration: none;
  background-color: var(--color-primary--tint);
  border-radius: var(--border-radius);
  z-index: 100;
}

a:focus{
    outline: none;
}

a[disabled=disabled],
a.disabled,
a.disabled:hover {
  color: var(--color-disabled);
  text-decoration: none;
  outline: none;
  cursor: default;
}

/* Button */

.button {
  border-radius: var(--border-radius);
  -webkit-user-select: none;
  font-size: 14px;
  margin: 0;
  border: none;
  overflow: hidden;
  padding: 2px 16px 2px 16px;
  white-space: nowrap;
  text-decoration: none;
  height: 32px;
}

.primary-button {
  background-color: var(--color-primary--light);
  color: var(--color-text--inverse);
}

.secondary-button {
  background-color: transparent;
  color: var(--color-primary);
}

.button:hover,
.button:focus {
  text-decoration: none;
  outline: none;
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--color-primary);
}

.secondary-button:hover,
.secondary-button:focus {
  background-color: var(--color-primary--tint);
}

.button:active {
  text-decoration: none;
  outline: none;
}

.primary-button:active {
  background-color: var(--color-primary--dark);
}

.secondary-button:active {
  background-color: var(--color-primary--tint-alt);
}

.button:disabled,
.button[disabled=disabled],
.button_disabled,
.button_disabled:hover,
.button_disabled:active {
  background-color: var(--color-disabled);
  box-shadow: none;
  outline: none;
  text-decoration: none;
}

/* select */
select {
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  color: var(--color-text);
  font-size: 14px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  height: 32px;
  box-sizing: border-box;
}

select:HOVER {
  border: 1px solid var(--color-primary);
}

select:FOCUS {
    box-shadow: 0 0 0 1px var(--color-primary--light);
    border: 1px solid var(--color-primary--light);
    outline: none;
}

select:ACTIVE {
  border: 1px solid var(--color-primary);
}

/* Inputs */
textarea, input[type='text'] {
}

.form input, .form textarea {
  background-color: transparent !important;
  border: none;
  padding: 0px;
  display: block;
}

.new_doc_container input[type='text']{
  height: 32px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid var(--color-primary--light);
  padding-left: 8px;
  width: 100%;
}

.new_doc_container input:focus {
    box-shadow: 0 0 0 1px var(--color-primary--light);
    border: 1px solid var(--color-primary--light);
    outline: none;
}

/* Authentication Button */
.authBtn {
  height: 36px;
  background-color: #2B5DD0;
  border-radius: 4px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text--inverse);
  white-space: nowrap;
  -webkit-user-select: none;
  padding-left: 36px;
  padding-right: 36px;
  line-height: 36px;
  text-align: center;
}

.authBtn[disabled=disabled],
.authBtn[disabled=disabled]:hover,
.authBtn[disabled=disabled]:focus,
.authBtn[disabled=disabled]:active {
  background-color: var(--color-disabled);
  box-shadow: inset 0px 0px 0px;
}

.authBtn:hover,
.authBtn:focus {
  box-shadow: 0px 2px 0px #0D2044;
  background-color: #4571D9;
  color: var(--color-text--inverse);
  cursor: hand;
  outline: none;
  margin-top: -2px;
  margin-bottom: 2px;
}

.authBtn:active,
.authBtn.active {
  background-color: #2249A3;
  color: var(--color-text--inverse);
}

/* Typography */
h1, .page-title {
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  /* margin-left: auto;
  margin-right: auto;
  text-align: center; */
  color: var(--color-text);
}

.label {
  font-size: 12px;
  color: var(--color-text--weak);
}

.Droid {
  font-family: 'Roboto', Arial, Sans-Serif;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* Components */

img.logo {
  margin-right: 10px;
  vertical-align: middle;
}

.divider {
  border-top: 1px solid var(--color-border);
  clear: both;
  position: relative;
}

.card {
  width: 600px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #fff;
  -webkit-border-radius: var(--border-radius);
  border-radius: var(--border-radius);
  -webkit-box-shadow: 0px 0px 10px var(--color-shadow);
  box-shadow: 0px 0px 10px var(--color-shadow);
}

.content {
  display: grid;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 48 - 20px shadow = 28 */
  row-gap: 28px;
  column-gap: 48px;
  justify-content: center;
}

.landscape .content{
    grid-template-columns: 288px 288px 288px;
}

.portrait .content{
    grid-template-columns: 288px 288px;
}

.note_wrapper {
  list-style: none;
  cursor: default;
}

.note {
  width: 3in;
  height: 3in;
  padding: 0px;
  margin: 0px;
  background-color: var(--color-background--note);
  overflow: hidden;
}

.move {
  cursor: move;
}

.shadow::after {
  display: block;
  background-image: url(img/shadow_small.png);
  background-size: 3in;
  width: 3in;
  height: 20px;
  background-repeat: no-repeat;
  content: "";
}

/* .shadow {
  background-image: url(img/shadow_small.png);
  background-size: 3in;
  width: 3in;
  background-repeat: no-repeat;
  height: 20px;
} */
/* #butterbox {
  width: 100%;
  margin: auto;
  padding: auto;
  padding-top: 5px;
  clear: both;
  align: center;
  display: block;
}

#butter {
  color: #fff;
  background-color: #000033;
  padding: 5px 15px;
  border-radius: 15px;
  width: auto;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  display: none;
} */

.butterbox {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
}

.pam {
  padding: 5px 15px 5px 15px;
  padding: 5px 15px 5px 15px;
}

.butter {
  background-color: #333333;
  color: #fff;
  margin: auto;
  border-radius: 4px;
  width: 258px;
  letter-spacing: 1px;
  font-variant-ligatures: none;
}

.error {
  background-color: #cc1001;
}

.success {
  /* background-color: #4C8EF9; */
  background-color: #333333;
}

.normal {
  background-color: #333333;
}


/* Utilities */
.left {
  float: left;
}

.middle {
  float: left;
}

.right {
  float: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.full {
  width: 100%;
}

.split {
  width: 95%;
}

.half {
  width: 50%;
}

.p-small {
  padding: 8px;
}

.p-medium {
  padding: 16px;
}

.p-left--small {
  padding-left: 8px;
}

.p-right--small {
  padding-right: 8px;
}

.m-large {
  margin: 24px;
}

.m-vertical--xxsmall {
  margin-top: 2px;
  margin-bottom: 2px;
}

.m-vertical--large {
  margin-top: 24px;
  margin-bottom: 24px;
}

.m-bottom--medium {
    margin-bottom: 12px;
}

.indent {
  margin-left: 38px;
}

.sm_font {

}

.bold {
  font-weight: bold;
}

.fade {
  opacity: .35;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.clear {
  clear: both;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
