:root {
  /* Color */
  --color-primary: #005b4f;
  /* rgb(0,91,79); */
  --color-primary--dark: #003d33;
  /* rgb(0,61,51); */
  --color-primary--light: #00897b;
  /* rgb(0,133,124) */
  --color-primary--tint: rgba(0, 133, 124, 0.1);
  --color-primary--tint-alt: #BFE1DE; /*rgba(0, 133, 124, 0.25);*/
  --color-disabled: #e8e8e8;
  --color-shadow: rgba(0, 0, 0, 0.25);
  --color-error: #cc1001;
  /* Text */
  --color-text: #333333;
  --color-text--inverse: #ffffff;
  --color-text--weak: #757575;
  /* Background */
  --color-background: #ffffff;
  --color-background--alt: #cccccc;
  --color-background--inverse: #333333;
  --color-background--note: #fffca8;
  /* Border */
  --color-border: #dddddd;
  /* Radius */
  --border-radius: 4px;
  /* Spacing */
  --space-xxxsmall: .125rem;
  --space-xxsmall: .25rem;
  --space-xsmall: .5rem;
  --space-small: .75rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  /* Sizes */
  --font-xsmall: .75rem;
  --font-small: .875rem;
  --font-medium: 1rem;
  --font-large: 1.5rem;
  --font-xlarge: 2rem;
}

@font-face {
  font-family: 'Roboto';
  font-display: auto;
  src: local("Roboto") url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: auto;
  src: local("Roboto") url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

/* Link */
a {
  color: var(--color-primary--light);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--color-primary--dark);
  text-decoration: none;
  background-color: var(--color-primary--tint);
  border-radius: var(--border-radius);
  z-index: 100;
}

a:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 4px var(--color-primary--tint-alt);
  outline: none;
}

a[disabled=disabled],
a.disabled,
a.disabled:hover {
  color: var(--color-disabled);
  text-decoration: none;
  outline: none;
  cursor: default;
}

/* Button */
.button {
  border-radius: var(--border-radius);
  -webkit-user-select: none;
  font-size: var(--font-small);
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  border: none;
  overflow: hidden;
  padding: 2px 16px 2px 16px;
  white-space: nowrap;
  text-decoration: none;
  height: 32px;
}

.primary-button {
  background-color: var(--color-primary--light);
  color: var(--color-text--inverse);
}

.secondary-button {
  background-color: transparent;
  color: var(--color-primary);
}

.button:hover,
.button:focus {
  text-decoration: none;
  outline: none;
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--color-primary);
}

.primary-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 4px var(--color-primary--tint-alt);
}

.secondary-button:hover,
.secondary-button:focus {
  background-color: var(--color-primary--tint);
}

.secondary-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 4px var(--color-primary--tint-alt);
}

.button:active {
  text-decoration: none;
  outline: none;
}

.primary-button:active {
  background-color: var(--color-primary--dark);
}

.secondary-button:active {
  background-color: var(--color-primary--tint-alt);
}

.button:disabled,
.button[disabled=disabled],
.button_disabled,
.button_disabled:hover,
.button_disabled:active {
  background-color: var(--color-disabled);
  box-shadow: none;
  outline: none;
  text-decoration: none;
}

/* select */
select {
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  color: var(--color-text);
  font-size: var(--font-small);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  height: 32px;
  box-sizing: border-box;
}

select:HOVER {
  background-color: #F1F2F3;
}

select:FOCUS {
  box-shadow: 0 0 0 2px white, 0 0 0 4px var(--color-primary--tint-alt);
  outline: none;
}

select:ACTIVE {
  background-color: #E1E2E3;
}

/* Inputs */
input {
  font-family: 'Roboto', Arial, sans-serif;
}

input[type=checkbox], input[type=radio] {
  margin-right: var(--space-xsmall);
}

.form input, .form textarea {
  background-color: transparent !important;
  border: none;
  padding: var(--space-xxxsmall);
  display: block;
}

.form textarea:focus, .form input:not([type="radio"]):focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--color-primary--tint-alt);
  border-radius: var(--border-radius);
}

.new_doc_container input[type='text'] {
  height: 32px;
  font-size: var(--font-small);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  padding-left: 8px;
  width: 100%;
}

.new_doc_container input[type='text']:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 4px var(--color-primary--tint-alt);
  outline: none;
}

/* Authentication Button */
.authBtn {
  height: 36px;
  background-color: #2B5DD0;
  border-radius: var(--border-radius);
  display: inline-block;
  font-size: var(--font-small);
  font-weight: 600;
  color: var(--color-text--inverse);
  white-space: nowrap;
  -webkit-user-select: none;
  padding-left: 36px;
  padding-right: 36px;
  line-height: 36px;
  text-align: center;
}

.authBtn[disabled=disabled],
.authBtn[disabled=disabled]:hover,
.authBtn[disabled=disabled]:focus,
.authBtn[disabled=disabled]:active {
  background-color: var(--color-disabled);
  box-shadow: inset 0px 0px 0px;
}

.authBtn:hover,
.authBtn:focus {
  box-shadow: 0px 2px 0px #0D2044;
  background-color: #4571D9;
  color: var(--color-text--inverse);
  cursor: hand;
  outline: none;
  margin-top: -2px;
  margin-bottom: 2px;
}

.authBtn:active,
.authBtn.active {
  background-color: #2249A3;
  color: var(--color-text--inverse);
}

input[type="image"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px var(--color-primary--tint-alt);
  border-radius: 100vh;
}

/* Typography */
h1 {
  font-size: var(--font-xlarge);
  font-weight: 100;
  color: var(--color-text);
  margin: 0;
  display: flex;
  align-items: center;
}

h2 {
  font-weight: normal;
  font-size: var(--font-large);
  color: var(--color-text);
}

.label {
  font-size: var(--font-xsmall);
  color: var(--color-text--weak);
}

.Droid {
  font-family: 'Roboto', Arial, Sans-Serif;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Components */
img.logo {
  margin-right: 10px;
  vertical-align: middle;
}

.divider {
  border-top: 1px solid var(--color-border);
}

.card {
  width: 600px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #fff;
  -webkit-border-radius: var(--border-radius);
  border-radius: var(--border-radius);
  -webkit-box-shadow: 0px 0px 10px var(--color-shadow);
  box-shadow: 0px 0px 10px var(--color-shadow);
}

.content {
  display: grid;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 48 - 20px shadow = 28 */
  row-gap: 28px;
  column-gap: 48px;
  justify-content: center;
}

.landscape .content {
  grid-template-columns: 288px 288px 288px;
}

.portrait .content {
  grid-template-columns: 288px 288px;
}

.note_wrapper {
  list-style: none;
  cursor: default;
}

.note {
  height: 3in;
  padding: 0px;
  margin: 0px;
  background-color: var(--color-background--note);
  overflow: hidden;
}

.move {
  cursor: move;
}

.shadow::after {
  display: block;
  background-image: url(img/shadow_small.png);
  background-size: 100%;
  height: 20px;
  background-repeat: no-repeat;
  content: "";
}

.butterbox {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
}

.pam {
  padding: 8px 16px 8px 16px;
}

.butter {
  background-color: var(--color-background--inverse);
  color: var(--color-text--inverse);
  margin: auto;
  border-radius: var(--border-radius);
  letter-spacing: 1px;
  font-variant-ligatures: none;
  text-align: center;
}

.error {
  background-color: var(--color-error);
}

.success {
  background-color: var(--color-background--inverse);
}

.normal {
  background-color: var(--color-background--inverse);
}

/* Utilities */
.left {
  float: left;
}

.middle {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.align-right {
  text-align: right;
}

.full {
  width: 100%;
}

.split {
  width: 95%;
}

.half {
  width: 50%;
}

.grid {
  display: flex;
}

.grid-vertical {
  flex-direction: column;
}

.col {
  flex: 1 1 auto;
  min-width: 0px;
}

.grow {
  flex-grow: 1;
}

.grow-none {
  flex-grow: 0;
}

.p-top--xxxsmall {
  padding-top: var(--space-xxxsmall);
}

.p-bottom--xxxsmall {
  padding-bottom: var(--space-xxxsmall);
}

.p-top--xxsmall {
  padding-top: var(--space-xxsmall);
}

.p-bottom--xxsmall {
  padding-bottom: var(--space-xxsmall);
}

.p-xsmall {
  padding: var(--space-xsmall);
}

.p-left--xsmall {
  padding-left: var(--space-xsmall);
}

.p-right--xsmall {
  padding-right: var(--space-xsmall);
}

.p-top--xsmall {
  padding-top: var(--space-xsmall);
}

.p-medium {
  padding: var(--space-medium);
}

.p-left--medium {
  padding-left: var(--space-medium);
}

.p-right--medium {
  padding-right: var(--space-medium);
}

.p-top--medium {
  padding-top: var(--space-medium);
}

.m-vertical--xxxsmall {
  margin-top: var(--space-xxxsmall);
  margin-bottom: var(--space-xxxsmall);
}

.m-vertical--xxsmall {
  margin-top: var(--space-xxsmall);
  margin-bottom: var(--space-xxsmall);
}

.m-bottom--small {
  margin-bottom: var(--space-small);
}

.m-right--xsmall {
  margin-right: var(--space-xsmall);
}

.m-large {
  margin: var(--space-large);
}

.m-vertical--large {
  margin-top: var(--space-large);
  margin-bottom: var(--space-large);
}

.indent {
  margin-left: 38px;
}

.font-small {
  font-size: var(--font-small);
}

.font-medium {
  font-size: var(--font-medium);
}

.font-large {
  font-size: var(--font-large);
}

.fade {
  opacity: .35;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.scrollable {
  display: flex;
  height: 100%;
  overflow: auto;
}

.scrollable-y {
  overflow-x: hidden;
  overflow-y: auto;
}

.scrollable-y::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  overflow: visible;
}

.scrollable-y::-webkit-scrollbar-track {
  background-color: transparent;
  background-clip: padding-box;
  box-shadow: none;
}

.scrollable-y::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.015);
  background-color: rgba(0,0,0,.2);
  background-clip: padding-box;
  border-radius: 8px;
  border: 4px solid transparent;
  min-height: 28px;
}

.scrollable-y::-webkit-scrollbar-track:vertical:hover {
  background-color: rgba(0, 0, 0, 0.035);
  -webkit-box-shadow: inset 1px 0px 0 rgba(0, 0, 0, 0.07), inset -1px 0px 0 rgba(0, 0, 0, 0.07);
}

.scrollable-y::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.scrollable-y::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0.035);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.07), inset -1px -1px 0 rgba(0, 0, 0, 0.07);
}

.scrollable-y::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.4);
}
