@font-face {
  font-family: 'hand-font';
  src: url('../fonts/Dekko/Dekko-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

.summary, #summary {
  font-size: 17px;
  height: 211px;
  margin-bottom: 4px;
  resize: none;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title, #title {
  font-size: 14px;
  height: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.url, #url, .author, #author {
  font-size: 9px;
  font-style: italic;
  height: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
  display: inline-block;
  clear: none;
  float: left;
}

.fullWidth {
  width: 100%;
}

.tags, #tags {
  font-size: 12px;
  font-weight: bold;
  margin-top: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  clear: both;
}

.handwritten {
  font-family: 'hand-font', Arial, Sans-Serif;
  line-height: 1.4;
}

.summary.handwritten {
  font-size: 18px;
  /* text-transform:uppercase; */
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title.handwritten {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 16px;
  font-weight: bold;
}

.url.handwritten {
  font-size: 9px;
}

.tags.handwritten {
  font-size: 10px;
}

.Droid {
  font-family: 'Roboto', Arial, Sans-Serif;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

#shadow, .shadow {
  background-image: url(img/shadow_small.png);
  background-size: 3in;
  width: 3in;
  background-repeat: no-repeat;
  height: 30px;
}

#clear, .clear {
  clear: both;
}

#content, .content {
  margin: 0px;
  padding: 0px;
}

.fade {
  opacity: .25;
}

.hidden {
  display: none;
}

/*.left{
	float: left;
}
.middle{
	float:left;
}
.right{
	float: right;
}*/
