body {
	font-family: 'Droid Sans', Arial, Verdana, Sans-Serif;
	font-size: 12px;
	background-color: #ccc;
	margin:0px;
	color: #444;
}
a {
	color: #4E7DC2;
	text-decoration: none;
}
a:hover {
	color: #07377F;
	text-decoration: none;
}
.button{
	font-family: 'Droid Sans', Arial, Sans-Serif;
	font-size: 12px;
	color:#444444;
	/*width: 58px;
	height: 24px;*/
	padding: 5px 12px 5px 12px;
	margin: 0;
	-webkit-border-radius: 4px;
	border:1px solid #808080;
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#fafafa),color-stop(1,#e5e5e5));
}
.button:HOVER{
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#fefefe),color-stop(1,#e9e9e9));
	border:1px solid #909090;
	color:#222222;
}
.button:ACTIVE{
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fefefe),color-stop(1,#e9e9e9));
	border:1px solid #4080fa;
	color:#222222;
}
.button[disabled],.button[disabled]:ACTIVE,.button[disabled]:HOVER{
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#fafafa),color-stop(1,#e5e5e5));
	border:1px solid #ccc;
	color:#ccc;
}
#page-title, .page-title{
	font-size: 24px;
	font-weight: thin;
	margin-top: 20px;
	margin-bottom: 10px;
}
#citable{
	font-weight:regular;
	font-size: 30px;
	margin-left:auto;
	margin-right: auto;
	text-align:center;
}
#citable img{
	margin-right: 10px;
	vertical-align: -30%;
}
.break{
	padding-bottom: 10px;
}
#total {
	font-size: 14px;
	font-weight: thin;
	margin-bottom: 10px;
}
.divider {
	margin:20px 0 20px 0;
	border-top:1px #808080 solid;
	clear: both;
	position: relative;
	
}

.ip {
	clear: both;
	position: absolute;
	z-index: 10;
	height: 60px;
	bottom: 0;
	font-size:10px;
}

/*#controls, .controls {
	float:left;
	width: 285px;
	height: 100%;
	position:fixed;
	margin:0px;
	padding-left:20px;
	padding-right: 20px;
	background-color: #fff;
}*/
#controls, .controls {
	width: 600px;
	height: 700px;
	position: relative;
	margin:40px;
	margin-left: auto;
	margin-right:auto;
	padding: 20px;
	background-color: #fff;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0px 0px 10px #888;
}
#control-shadow{
	float:left;
	width:10px;
	height:100%;
	position:fixed;
	left:325px;
	background: url(img/right-shadow.png) repeat-y;
	background-size: 10px;
	opacity: .75;
}
#controls-wrapper{
	width:315px;
}
#elements{
	padding:20px;
}
#elements input[type=checkbox], input[type=radio]{
	margin-right: 10px;
	margin-left: 20px;
	/*margin-bottom: 40px;*/
}
div.checkbox {
	width:100%;
	height:30px;
	margin-bottom:20px;
	padding:15px 0 0 0;
	background-color: rgb(255,255,160);
	/*border:1px solid #e49f16;*/ /*use this for draggable elements*/
}
#fonts{
	float:right;
	width:268px;
}
#print {
	background: url(img/sprite_black2.png) no-repeat -84px -63px;
	height: 21px;
	width: 21px;
	opacity: .55;
	clear: none;
}
#print-button{
	font-family: 'Droid Sans', Arial, Sans-Serif;
	font-weight: bold;
	float: right;
}
#cancel-button{
	font-family: 'Droid Sans', Arial, Sans-Serif;
	font-weight: thin;
	float: right;
}
#template-button{
	font-family: 'Droid Sans', Arial, Sans-Serif;
	font-weight: thin;
	float: left;
	margin-left: 35px;
}

#output {
	float:left;
	clear:none;
}
.offset {
	position:relative;
	left:325px;
}
#page{
	width: 10in;
	height: 7.5in;
	background-color: #fff;
	margin:20px;
	padding: .5in .5in .5in .5in;
}
#content{
	margin:0px;
	
}
#note_wrapper {
	margin: 0in;
	margin-bottom: 5px;
}
.left{
	float: left;
}
.middle{
	float:left;
	position: relative;
	left: .45in;
}
.right{
	float: right;
}
#note {
	width: 3in;
	height: 3in;
	padding: 0px;
	margin: 0px;
	background-color: rgb(255,255,160);
	overflow: hidden;
}
#template {
	display: none;
}
#template #note {
	border: 2px #000 solid;
	background-color: #fff;
	margin-bottom: 40px;
}
#form{
	margin:20px;
}
/*textarea,input{
	width: 100%;
	background-color: transparent !important;
	border: none;
}*/
.summary{
  /*font-family: 'hand-font', 'Myriad-regular', Arial, Sans-Serif;*/
  font-size: 18px;
  height: 216px;
  margin-bottom:4px;
  resize: none;
  line-height: 18px;
  overflow:hidden;
  text-overflow: ellipsis;
}
.title{
  /*font-family: 'Myriad-bold', Arial, Sans-Serif;*/
  font-size: 14px;
  height: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.url{
  /*font-family: 'Myriad-italic', Arial, Sans-Serif;*/
  font-size: 9px;
  font-style: italic;
  height: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tags{
  /*font-family: 'Myriad-bold', Arial, Sans-Serif;*/
  font-size: 12px;
  font-weight: bold;
  margin-top:1px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.handwritten {
	font-family: 'hand-font', Arial, Sans-Serif;
	line-height: normal;
}
.summary.handwritten {
	font-size:12px;
	text-transform:uppercase;
	line-height: 18px;
}
.title.handwritten {
	font-size:12px;
	text-transform:uppercase;
}
.url.handwritten {
	font-size:8px;
}
.tags.handwritten {
	font-size:10px;
}
.Myriad {
	font-family: 'Droid Sans', Arial, Sans-Serif;
}
.bold{
	font-weight:bold;
}
.italic{
	font-style:italic;
}
#shadow {
  background-image: url(img/shadow_small.png);
  background-size: 3in;
  width: 3in;
  height: 40px;
  background-repeat: no-repeat;
}
#clear, .clear {
	clear: both;
}
#instructions {
	padding-top: 10px;
	margin-left: 35px;
}