/* 1 Inch = 96px for printers and high res displays*/
/* Reset */
#controls, #indicator {
  display: none !important;
  width: 0px;
}

#loading {
  display: none !important;
}

/* To account for hidden shadow */
.page .content {
  row-gap: 48px;
}

.shadow:after {
  display: none;
}

.note {
  background: none;
}

/*For template*/
body {
  font-size: 14px;
  font-family: 'Roboto', Sans-Serif;
  background: none;
  margin: 0px;
  color: var(--color-text);
  position: absolute;
}

.template .note {
  width: 288px;
  height: 288px;
  border: 2px solid var(--color-border);
  background: none;
  text-align: center;
  box-sizing: border-box;
}

.template .divider {
  margin: var(--space-medium) 0 var(--space-medium) 0;
  border-top: 1px solid var(--color-border);
}

.landscape .instructions {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  padding-top: 24px;
}

.portrait .instructions {
  position: absolute;
  transform: rotate(90deg);
  transform-origin: 0 0;
  top: 0;
  left: 370px;
}

/*End Template*/

.landscape {
  width: 10in;
  /* page width(11in) = 10.5in + page-margin(.25in*2) */
  height: 7.5in;
  /* page width(8.5in) = 8in + page-margin(.25in*2) */
}

.portrait {
  width: 7.5in;
  height: 10in;
}

.page {
  background-color: var(--color-background);
  margin: 0px;
  page-break-before: always;
  break-before: page;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
