.docs-icon-citable{
	/*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAvRJREFUeNpMU89rE0EYfTO72W2SbdNstbTF2lrT1h9UCkXxoFjoQUW8iXgsIvoXePHSi4LexLsnDx568CL1Uk+KP0BQsIqKllJaFNvEpMkm6f6Y8c0GwYXZndlvvjfve98b8WbpyKl9+60H2awY0VojfYTky+GwzYIj5ggBnXTCQiCK9PbGuloQmyvTK0PDmaMqUdBgougGZIFpec4zHQAdM9YEVA1C1/gvgbQEylvJpt2VdYZVYiNJmCz7uL+fKd1MyDLxfwZtThtQaptAW/yGcLvsvK21zSg3yyJRB2G5fWTqQdhZqFhAK8ByWFqyS4CAsSzikOXp3wTdVTwiAy18SDlEYnuw9Ezh+2oVhyc15mb3IdNl4cP733jxuopuVnfxrI9iwYKKjF5bVEm4RPZ5so/l5QhPnlbgOgIfP5WRy+YxXvLx8NE3hJGicECr5eHGfC91JiM0jMxZLgpceFj5vIk4asGWEmEYYnWtikYQo1KpIZ8ztDW+fIkRBHvg5Xp4cN4AkIHRQHRRGAabQSpoqxWidLAfzWbI0WTrTGKE6alh5Hs8qLCV5kmjQdpzy0VprBf1nTp2anVcuXQCp2aPYaI0QCEjVMo1HJrwcXV+hl2w8C/P9I7UJHSocOb0AfR4FqrVOibHB2BiI2MDOD4zip+/yugruvCKXsdPWqZx4xwYByZRDL/fw7X5k6g3Aty+u4iNtU22U+D6tTmMjfp4vPgWL59/gpUxyTr1CGdWahRNtyWs9dyFKdy6eR7lSpXt+0q6MfYOduPencsEKeLFq2+pE407DYDY/nGjXPSH/EQbIXtpJo9yeGg3FRzHQXo96CZjprgdQCV1Csqhd7inVmEXbCu9NLQmZJMbLOi2hptx2RWVlmcA4nYEKcyeXWpAWxvmwpG2UjIQMlcQVDqlJVppeUmSkKCV3gQNxRMjAjJR7/KfDdvO0TM7sa2VvPWn/HPBcfOFzl0OUnWpXuebQqgOeEd+liDRiKrN9bV39/8KMACekE1hXsZCkwAAAABJRU5ErkJggg==);*/
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAsRJREFUeNrMlM1O20AQx9cfMbbj2G4CEQgh5YLI0SAhlR6ojz3mEXrkVvEE7RvQHntrT1VOpUduTpRDJVBw3iAgTBOTxgvxZ4jtzpomSkDcGWs2dvyb/+7Mzhqhl2rU4z92d3d18nt6emo8FwSMlsvlVM/zzE6ng5+I6br+XpblI3CVPN/d3WHwQ8Mwvk2ZnZ0drVwu/yyVShUQIwyybftzq9U6JO8ZMuztvamtr6//WFtb5SVJQqIoooJU4CmKquXz+YZlWV1N01Rgzjc2NlYLBRnxPI8Iy3FLrxVFoS4vLw2aiElS/khVVUTTDEqSNHOaYZAsK0gQhA+EKRaLH1fKZRWCUZo+MBRFI1mRiWjGsGTgOK5C0zQAyUJtGBAURSlLWxREbYnjnjAUXAzDZgy7v/+2Qm4eQ8QmkwmKouDhgaZQAiuiHnFxHKNJPHlAms1GN44TABMUJ3MO0C0U2HFwg4BhGKKMSxY9CAIUhWG281nNILgbT2KUwsupu56Hen965vl5+xNhxtG4AUHZ6qYejseo3+9jB+PDmVjgh8fZzP9XNYb0HOwct1rN7Wk6rjs69vwgW3FCVgjujUbd4fDvdsc0zZnY7S3+MnQw5B5nO3UPM3oj9/t8bdrttokxNqIoykpCUgTeODs76842jAy23cel5WUKekdnmRwIJmg0cvmLi259XlBVlA5DswcCL6AU2t33fdK8X29sO5yJEbOuroyVlXJN4PlV0hJgVei9C2hYc8r0wF4VixQI6OQEoBTxYRRWIba+IEasICv1OIkPWJaD7oei39/Xlji+AXWZpXJtWQYcuQrDMhqcEKhdXIWM1MFgcLIgBumG0M0nURi8gx6Dg+yjIPQ7znD4e567vrZ+SXmpAnXTSH1d1+vBhHXquS/D5uaWDg2L4cyZzzFbW1UtTlIV46E5uLnBL/bbiP4JMACAEJWmls7MsAAAAABJRU5ErkJggg==);
	height: 19px;
	width: 19px;
	position:relative;
	top:0px;
	left:2px;
}
.goog-toolbar-menu-button .citable-icon {
	opacity: 1.0 !important;
}
.goog-toolbar-menu-button-open .goog-menu {
	display: block !important;
}
.hidden {
	display: none;
}
.goog-menuitem:HOVER {
	background-color:#F3F3F3;
	text-decoration: none;
}
.goog-menuitem-content:HOVER, .goog-menuitem-content, .action:HOVER, .action {
	text-decoration: none;
}