@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

html {
  overflow: scroll;
}

body {
  font-size: 14px;
  font-family: 'Roboto', Arial, Verdana, Sans-Serif;
  background-color: #ccc;
  margin: 0px;
  color: #444;
  position: absolute;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#loading {
  /*width: 10.5in;*/
  padding-top: .25in;
  padding-bottom: .25in;
  padding-left: .25in;
  padding-right: .25in;
  text-align: center;
  float: left;
  clear: none;
}

#butter {
  color: #fff;
  background-color: #333333;
  padding: 5px 15px;
  border-radius: 15px;
  width: 258px;
  text-align: center;
  /*float: right;*/
  margin: auto;
  margin-top: 0px;
  /*margin-bottom: 15px;*/
  display: none;
}

#butter.error {
  background-color: red;
}

/* a {
  color: #4576BF;
  text-decoration: none;
}

a:hover {
  color: #880000;
  text-decoration: underline;
} */

/* h1, #page-title {
  font-size: 24px;
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
} */

h2, #total {
  font-size: 14px;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 15px;
  height: 15px;
}

/* .divider {
  margin: 20px 0 20px 0;
  border-top: 1px #808080 solid;
  clear: both;
  position: relative;
  width: 288px;
} */

#controls {
  float: left;
  width: 288px;
  height: 100%;
  position: fixed;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}

#control-shadow {
  float: left;
  width: 10px;
  height: 100%;
  position: fixed;
  left: 328px;
  top: 0;
  background: url(img/right-shadow.png) repeat-y;
  background-size: 10px;
  opacity: .75;
}

#controls-wrapper {
  width: 315px;
}

#elements, .elements {
  padding: 20px;
}

input[type=checkbox], input[type=radio] {
  margin-right: 10px;
  /*margin-bottom: 40px;*/
}

div.checkbox {
  width: 100%;
  margin-bottom: 18px;
  padding: 15px 0 0 0;
  background-color: rgb(255, 255, 160);
  /*border:1px solid #e49f16;*/
  /*use this for draggable elements*/
}

#radioControls {
  position: relative;
}

#fonts, #orientation, #mForm {
  float: left;
  width: 268px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  margin-left: 20px;
  display: block;
  position: relative;
}

#radioland, #radioport {
  font-weight: regular;
}

/*#radioland img, #radioport img{
	margin-right: 10px;
	vertical-align: -30%;
}*/
.pageIcon {
  float: left;
  position: absolute;
  top: -10px;
  left: 190px;
  width: 100px;
  height: 100px;
}

.fontIcon {
  float: left;
  position: absolute;
  top: 20px;
  left: 228px;
  font-size: 36px;
}

.fontIcon.handwritten {
  top: 13px;
  left: 225px;
}

#button-wrapper {
  width: 288px;
  position: relative;
}

#print {
  background: url(img/sprite_black2.png) no-repeat -84px -63px;
  height: 21px;
  width: 21px;
  opacity: .55;
  clear: none;
}

/* #print-button {
  font-family: 'droid-sans', Arial, Sans-Serif;
  font-weight: bold;
  float: right;
}

#cancel-button {
  font-family: 'droid-sans', Arial, Sans-Serif;
  font-weight: 400;
  float: left;
  margin-left: 0px;
}

#template-button {
  font-family: 'droid-sans', Arial, Sans-Serif;
  font-weight: 400;
  float: right;
}
*/

#display {
  margin-bottom: 10px;
  /* height: 30px; */
  width: 100%;
}

#selection {
  /*clear: none;
	display: inline-block;
	position: relative;
	top: -3px;
	left: 45px;*/
  /*margin-bottom: 15px;*/
}

#selection select {
  width: 288px;
}

/* select {
  -webkit-appearance: button;
  -webkit-border-radius: 4px;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  color: #444;
  font-size: 12px;
  margin: 0;
  overflow: hidden;
  padding: 0px 15px 0px 5px;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 25px;
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #808080;
  background-image: url(img/select-arrow.png), -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #e5e5e5));
}

select:HOVER {
  background-image: url(img/select-arrow.png), -webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(1, #e9e9e9));
  border: 1px solid #909090;
  color: #000;
}

select:ACTIVE {
  background-image: url(img/select-arrow.png), -webkit-gradient(linear, left bottom, left top, color-stop(0, #fefefe), color-stop(1, #e9e9e9));
  border: 1px solid #4080fa;
  color: #000;
}

.select {} */

/* .button {
  font-family: 'droid-sans', Arial, Sans-Serif;
  font-size: 12px;
  color: #444444;
  height: 25px;
  margin: 0px;
  vertical-align: middle;
  padding: 0px 12px 0px 12px;
  margin-left: 6px;
  -webkit-border-radius: 4px;
  border: 1px solid #808080;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #e5e5e5));
}

.button:HOVER {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(1, #e9e9e9));
  border: 1px solid #909090;
  color: #222222;
}

.button:ACTIVE {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fefefe), color-stop(1, #e9e9e9));
  border: 1px solid #4080fa;
  color: #222222;
}

.button[disabled], .button[disabled]:ACTIVE, .button[disabled]:HOVER {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #e5e5e5));
  border: 1px solid #ccc;
  color: #ccc;
} */

.full {
  width: 100%;
}

.half {
  width: 95%;
}

.option {
  padding-bottom: 20px;
}

.option.field2, .option.field3 {
  display: inline-block;
  width: 50%;
}

.option.field3 {
  text-align: right;
}

.option.field0 {
  padding-bottom: 80px;
}

.hidden {
  display: none;
}

.doc_title {
  margin-left: 20px;
  padding-left: .5in;
  position: relative;
  top: 25px;
  float: left;
  font-size: 18px;
}

ui-state-highlight {
  width: 3in;
  height: 3in;
  line-height: 3in;
  padding: 0 0 0 .5in;
  margin: 0px;
  border: 2px dashed rgb(255, 255, 160);
  display: block;
  float: left;
}

/*textarea,input{
	width: 100%;
	background-color: transparent !important;
	border: none;
}*/
/*#shadow{
	height: 40px;
}*/
.instructions {
  margin-left: 25px;
  padding-bottom: 10px;
  font-size: 14px;
}

legend.instructions {
  font-size: 12px;
  color: #757575;
}

.instructions._export {
  margin-left: 0px;
}

#supportedColumns {
  -webkit-margin-before: 10px;
  -webkit-padding-start: 30px;
}

#controls::-webkit-scrollbar {
  width: 11px;
}

#controls::-webkit-scrollbar-track {
  border-right: 5px solid transparent;
  background-clip: padding-box;
}

#controls::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  background: #ccc;
  border-right: 5px solid transparent;
  background-clip: padding-box;
}

#controls::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.035);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14), inset -1px -1px 0 rgba(0, 0, 0, 0.07)
}

#controls::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#controls::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0.035);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14), inset -1px -1px 0 rgba(0, 0, 0, 0.07)
}

#controls::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.4);
}

#indicator {
  width: 50px;
  height: 30px;
  position: fixed;
  right: 2px;
  top: 0px;
  background: #FFF;
  color: #000;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.ui-sortable-helper #note, .ui-sortable-helper .note {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.sortable-placeholder, .placeholder {
  width: 3in;
  height: 3in;
  background-color: rgb(255, 255, 200);
  overflow: hidden;
  margin-bottom: 30px;
}

.moving {
  display: none;
}

#loading.landscape {
  width: 10.5in;
  height: auto;
}

#loading.portrait {
  width: 8in;
  height: auto;
}

.export {
  /*-webkit-border-radius: 8px;*/
  width: 8.5in;
  padding: .5in;
  margin: 20px 0px 20px 20px;
  background-color: #fff;
}

/*---------------------------*/
#output {
  float: left;
  clear: none;
  width: 1404px;
}

.offset {
  position: relative;
  left: 328px;
}

/*-----------------------*/
.page, .loading {
  background-color: #fff;
  margin: 20px 0px 20px 20px;
  padding: 24px;
  /*.25in*/
}

.landscape {
  width: 10.5in;
  /* page width(11in) = 10.5in + page-margin(.25in*2) */
  height: 8in;
  /* page width(8.5in) = 8in + page-margin(.25in*2) */
  float: left;
}

.portrait {
  width: 8in;
  height: 10.5in;
  float: left;
}

/*-----------------------*/
#content, .content {
  float: left;
}

.landscape #content, .landscape .content {
  /*height: 736px;*/
  /* 8in-(16px*2) height is probably unnecessary */
  /*width: 10.5in;*/
  padding: 16px 0 16px 0;
}

.portrait #content, .portrait .content {
  /*height: 10.5in;*/
  /*width: 737px;*/
  padding: 0 16px 0 15px;
  /* Strange 1px error, doesn't leave room for two rows. */
}

/*-----------------------*/
.note_wrapper {
  list-style: none;
  cursor: default;
}

.landscape .note_wrapper {
  margin: 40px 24px 20px 24px;
  /* bottom margin(40px) = shadow(20px) + 20px */
  padding: 0px;
}

.portrait .note_wrapper {
  margin: 24px 40px 4px 40px;
  /* bottom margin(24px) = shadow(20px) + 4px */
  padding: 0px;
}

/*-----------------------*/
#note, .note {
  width: 3in;
  height: 3in;
  padding: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 160);
  overflow: hidden;
  cursor: move;
}

.left {
  float: left;
}

#shadow, .shadow {
  background-image: url(img/shadow_small.png);
  background-size: 3in;
  width: 3in;
  background-repeat: no-repeat;
  height: 20px;
}

/*-----------------------*/
#note.controls, .note.controls {
  cursor: default;
}

/*#template {
	display: none;
}
#template #note {
	border: 2px #000 solid;
	background-color: #fff;
	margin-bottom: 40px;
}*/
#form, .form {
  margin: 20px;
}

/*---------------------------*/
