html {
  overflow: scroll;
}

body {
  font-size: 14px;
  font-family: 'Roboto', Arial, Verdana, Sans-Serif;
  background-color: var(--color-background--alt);
  margin: 0px;
  color: var(--color-text);
  position: absolute;
}

#loading {
  /*width: 10.5in;*/
  padding-top: .25in;
  padding-bottom: .25in;
  padding-left: .25in;
  padding-right: .25in;
  text-align: center;
  float: left;
  clear: none;
}

#controls {
  float: left;
  width: 288px;
  height: 100%;
  position: fixed;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0,0,0,.25);
  display: flex;
  flex-direction: column;
}

#elements, .elements {
  padding: 20px;
}

input[type=checkbox], input[type=radio] {
  margin-right: 10px;
  /*margin-bottom: 40px;*/
}

div.checkbox {
  width: 100%;
  margin-bottom: 18px;
  padding: 15px 0 0 0;
  background-color: rgb(255, 255, 160);
  /*border:1px solid #e49f16;*/
  /*use this for draggable elements*/
}

#radioControls {
  position: relative;
}

#fonts, #orientation, #mForm {
  float: left;
  width: 268px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  margin-left: 20px;
  display: block;
  position: relative;
}

.pageIcon {
  float: left;
  position: absolute;
  top: -10px;
  left: 190px;
  width: 100px;
  height: 100px;
}

.fontIcon {
  float: left;
  position: absolute;
  top: 20px;
  left: 228px;
  font-size: 36px;
}

.fontIcon.handwritten {
  top: 13px;
  left: 225px;
}

.option {
  padding-bottom: 20px;
}

.option.field2, .option.field3 {
  display: inline-block;
  width: 50%;
}

.option.field3 {
  text-align: right;
}

.option.field0 {
  padding-bottom: 80px;
}

.doc_title {
  margin-left: 20px;
  padding-left: .5in;
  position: relative;
  top: 40px;
  float: left;
  font-size: 18px;
}

.instructions {
  margin-left: 20px;
  padding-bottom: 10px;
  /* font-size: 14px; */
}

.instructions._export {
  margin-left: 0px;
}

.controls::-webkit-scrollbar {
  width: 11px;
}

.controls::-webkit-scrollbar-track {
  border-right: 5px solid transparent;
  background-clip: padding-box;
}

.controls::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  background: #ccc;
  border-right: 5px solid transparent;
  background-clip: padding-box;
}

.controls::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.035);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14), inset -1px -1px 0 rgba(0, 0, 0, 0.07)
}

.controls::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.controls::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0.035);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14), inset -1px -1px 0 rgba(0, 0, 0, 0.07)
}

.controls::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.4);
}

#indicator {
  width: 50px;
  height: 30px;
  position: fixed;
  right: 2px;
  top: 0px;
  background: var(--color-background);
  color: var(--color-text);
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.ui-sortable-helper .note {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.sortable-placeholder, .placeholder {
  width: 3in;
  height: 3in;
  background-color: rgb(255, 255, 200);
  overflow: hidden;
  margin-bottom: 30px;
}

.moving {
  display: none;
}

#loading.landscape {
  width: 10.5in;
  height: auto;
}

#loading.portrait {
  width: 8in;
  height: auto;
}

.export {
  /*-webkit-border-radius: 8px;*/
  width: 8.5in;
  padding: .5in;
  margin: 20px 0px 20px 20px;
  background-color: #fff;
}

/*---------------------------*/
#output {
  float: left;
  clear: none;
  width: 1404px;
}

.offset {
  position: relative;
  left: 328px;
}

/*-----------------------*/
.loading {
  padding: 24px;
  /*.25in*/
}

.page, .loading {
  background-color: #fff;
  margin: 20px 0px 20px 20px;
  box-sizing: border-box;
  /*.25in*/
}

.landscape {
  width: 11in;
  /* page width(11in) = 10.5in + page-margin(.25in*2) */
  height: 8.5in;
  /* page width(8.5in) = 8in + page-margin(.25in*2) */
  padding: 48px;
}

.portrait {
  width: 8.5in;
  height: 11in;
  padding: 48px 96px;
}

/*-----------------------*/


.landscape .note_wrapper {
  /* margin: 24px 24px 4px 24px; */
  /* bottom margin(40px) = shadow(20px) + 20px */
  padding: 0px;
}

.portrait .note_wrapper {
  /* margin: 24px 24px 4px 24px; */
  /* bottom margin(24px) = shadow(20px) + 4px */
  padding: 0px;
}
